/* BACKGROUND HALAMAN */
.bg-login {
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.bg-admin {
  background: linear-gradient(135deg, #8e0e00, #1f1c18);
}

.bg-register {
  background: linear-gradient(135deg, #11998e, #38ef7d);
}

.bg-reset {
  background: linear-gradient(135deg, #8360c3, #2ebf91);
}

/* CARD UMUM */
.card {
  background: #fff;
  width: 100%;
  max-width: 380px;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  text-align: center;
}

/* JUDUL */
.title-login { color: #1e3c72; }
.title-admin { color: #8e0e00; }
.title-register { color: #11998e; }
.title-reset { color: #8360c3; }

/* INPUT */
.input-text {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

/* BUTTON */
.btn-login { background: #1e3c72; }
.btn-admin { background: #8e0e00; }
.btn-register { background: #11998e; }
.btn-reset { background: #8360c3; }

button {
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

/* LINK */
.links a {
  text-decoration: none;
  font-size: 14px;
}
